*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
TestData/compressedWrite.txt
TestData/decryptedDecompressedWrite.txt
TestData/encryptedWrite.txt
TestData/write.txt
TestData/writeBinary.txt
TestData/encryptedCompressedWrite.txt
